# Node.js
node_modules/
dist/
.build/

# Astro
astro.config.*.local.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# Editor-specific
.vscode/
.idea/

# Optional cache folders
.cache/
.pnpm-store/

# Dependency snapshot (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
