html {
    font-family: IBM Plex Mono, monospace;
    background: #212737;
}

main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    color: yellow;
}

textarea {
    width: 30%;
    height: 80%;
    resize: none;    
    color: rgb(182, 182, 182);
    font-family: 'Courier New', Courier, monospace;
    border-color: #ff6b01;
    background-color: #181d29;
}

.area-block {
    height: 20em;
}

.area-data {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-right: 1em;
    color: #ff6b01;
    font-size: 1em;
}

.data-container {
    display: flex;
}