html {
  font-family: IBM Plex Mono, monospace;
  background: #212737;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  margin: auto;
  width: 100%;
  flex: 1;
}

textarea {
  width: calc(100% - 2em);
  height: 80%;
  resize: none;
  color: rgb(182, 182, 182);
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  border-color: white;
  background-color: #181d29;
  padding: 1em;
}

.area-block {
  height: 20em;
  width: 40%;
  margin: auto;
}

.area-data {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-right: 1em;
  color: #ff6b01;
  font-size: 1em;
}

.data-container {
  display: flex;
}

.header-container {
  width: 40%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.site-title {
  font-size: 1.5em;
  color: white;
}

hr {
  height: 1px;
  background-color: #ff6b01;
  border: none;
}

.separator {
  width: 100%;
  margin: auto;
}

.data-span {
  font-weight: bold;
}

.footer-container {
  width: 40%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-text {
  color: white;
}

.footer-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6b01;
  }
