html {
  font-family: IBM Plex Mono, monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #212737;
}

body.dark {
  background: #212737;
}

body.light {
  background: #f5f5f5;
}

main {
  margin: auto;
  width: 100%;
  flex: 1;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1em;
}

textarea.dark {
  color: #b6b6b6;
  border-color: #b6b6b6;
  background-color: #181d29;
}

textarea.light {
  color: #363636;
  border-color: black;
  background-color: #c8c8c8;
}

.area-block {
  height: 20em;
  width: 40%;
  margin: auto;
}

.area-data {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-right: 0.5em;
  color: #ff6b01;
  font-size: 1em;
}

.data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 40%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1.6em auto;
  justify-content: space-between;
}

.site-title {
  font-size: 1.5em;
  grid-column: 1;
  grid-row: 1;
}

.site-title.dark {
  color: white;
}

.site-title.light {
  color: black;
}

#switch-theme-container {
  grid-column: 2;
  grid-row: 1;
}

.header-separator {
  grid-column: 1 / span 2;
  grid-row: 2;
}

#switch {
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.3s ease;
}

#switch.dark {
  color: white;
}

#switch.light {
  color: black;
}


#switch:hover {
  color: #ff6b01;
}

hr {
  height: 1px;
  background-color: #ff6b01;
  border: none;
}

.separator {
  width: 100%;
  margin: auto;
}

.data-span {
  font-weight: bold;
}

.footer-container {
  width: 40%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-text.dark {
  color: white;
}

.footer-text.light {
  color: black;
}

.footer-text a {
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-text.dark a {
  color: white;
}

.footer-text.light a {
  color: black;
}

#github-link:hover {
  color: #ff6b01;
}

.operation-block {
  padding-top: 1.5em;
  display: flex;
  align-items: stretch;
}

#operation-select {
  color: #ff6b01;
  font-size: 1em;
  margin-right: 0.5em;

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#operation-select.dark {
  background-color: #181d29;
  border: #b6b6b6 solid 1px;
}

#operation-select.light {
  border: black solid 1px;
}

#apply-operation {
  font-size: 1em;
  color: #ff6b01;
  cursor: pointer;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;  
}

#apply-operation.dark {
  background-color: #181d29;
  border: #b6b6b6 solid 1px;
}

#apply-operation.light {
  border: black solid 1px;
}

#copy-text {
  font-size: 1em;
  color: #ff6b01;
  cursor: pointer;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em; 
}

#copy-text.dark {
  background-color: #181d29;
  border: #b6b6b6 solid 1px;
}

#copy-text.light {
  border: black solid 1px;
}

#data-text {
  display: flex;
}