---
import Layout from '../layouts/Layout.astro';
import TextAreaWithLength from '../components/TextAreaWithLength.jsx';
---

<Layout title="Text utils">
	<!-- <header> -->
	<main>		
		<TextAreaWithLength client:load/>
	</main>
</Layout>

<style>

</style>
