---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import TextAreaWithLength from '../components/TextAreaWithLength.jsx';
---

<Layout title="Text utils">
	<Header client:load/>
	<main>		
		<TextAreaWithLength client:load/>
	</main>
	<Footer client:load/>
</Layout>

<style>

</style>
