---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://kit.fontawesome.com/e9f22b8edb.js" crossorigin="anonymous"></script>
		<script src="../scripts/theme-switch.js"></script>		
		<title>{title}</title>
	</head>
	<body class="dark">
		<slot />
	</body>
</html>
<style >

</style>
